body {
    margin: 0;
    padding: 0;
    font-family: 'DynaPuff', system-ui;
    color: #282828;
}

.container{
    width: 375px;
    margin: 0 auto;
    border: solid 5px #5F253F;
    border-radius: 10px;
    margin-top: 20px;
}

/* typography */
h1 {
    font-size: 40px;
    font-weight: 600;
}

/* layout */

header{
    display: flex;
    justify-content: start;
    padding: 20px;
}

.cat-image {
    align-self: center;
    width: 60px;
}

.insert-section{
    background-color: #EF8793;
    padding: 25px;
}

input {
    font-size: 18px;
    font-family: inherit;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

button {
    font-family: inherit;
    background-color: #95CBDD;
    color: #fff;
    border: none;
    border-radius: 25px;
    padding: 15px 25px;
    margin-right: 20px;
    margin-top: 20px;
}

.inverse{
    background-color: #fff;
    color:#EF8793;
}

/* list */
.list-items{
    min-height: 150px;
    padding: 20px;
    background-image: url('images/paper.jpg');
}

/* ul{
    padding-inline-start: 10px;
} */

li{
    list-style-type: none;
    font-size: 16px;
}